<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Information Page</title>
</head>
<body>

  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__list">
        <li class="main-header__item"><a class="main-header__link" href="/">Form</a></li>
        <li class="main-header__item"><a class="main-header__link" href="/information">information</a></li>
      </ul>
    </nav>
  </header>
  
  <section class="information">
    <table class="information__table">
        <tr class="information__row">
          <td class="information__data ">Name: </td>
          <td class="information__output"><%= info.name %></td>
        </tr>
        <tr class="information__row">
          <td class="information__data ">Email: </td>
          <td class="information__output"><%= info.email %></td>
        </tr>
        <tr class="information__row">
          <td class="information__data ">Phone: </td>
          <td class="information__output"><%= info.phone %></td>
        </tr>
    </table>
  </section>

</body>
</html>