*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header__nav {
  padding: 2rem;
}

.main-header__list {
  list-style: none;
  display: flex;
}

.main-header__item {
  margin-right: 1.5rem;
}

.main-header__link {
  color: #333;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: capitalize;
  border-bottom: 1px solid #333;
}

.main-header__link:hover,
.main-header__link:active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.information__data, .information__output{
  padding: 5px;
  color: #333;
  font-size: 2rem;
}

.information__output {
  color: #fff;
}

.information__table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.information-form {
  width: 40rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
}

.information-form__input {
  border: none;
  width: 100%;
  padding: .8rem;
  border-bottom: 1px solid #333;
}

.information-form__input:focus {
  outline: none;
}

.information-from__label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: .8rem;
}

.information-form__group {
  margin-bottom: 2rem;
}

.information-form__btn {
  background-color: #76C5F0;
  display: block;
  border: none;
  padding: 1rem 1.5rem;
  color: #333;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}